h1, a:link, a:visited{
	color:#303030
}

h1{
	font-size: 48px;
	font-family:"Arial";
	margin-top: 0px;
	margin-bottom: 0px;
}

h2{
	font-size: 48px;
	font-family:"Arial";
	margin-top: 0px;
	margin-bottom: 0px;
}

h1{
	position: fixed;
	top:134px;
	left:294px;
}

h2#blogLink{
	position: fixed;
	top: 190px;
	left:294px;
}

h2#twitterLink{
	position: fixed;
	top: 234px;
	left:294px;
}

h2#githubLink{
	position: fixed;
	top: 280px;
	left:294px;
}

div#imageBox{
	position: fixed;
	top:134px;
	right:294px;
}