/* Chart */
.vis-highcharts {
	height: 600px;
	width: 100%;
	margin-bottom: 20px;
}


/* Colours */
.yellow {
	color: #e6e600;
	fill: #e6e600;
	stroke: #e6e600;
}

.navy {
	color: #002b80;
	fill: #002b80;
	stroke: #002b80;
}

.turquoise {
	color: #00b3b3;
	fill: #00b3b3;
	stroke: #00b3b3;
}

.dark-grey {
	color: #404040;
	fill: #404040;
	stroke: #404040;
}

.light-grey {
	color: #bfbfbf;
	fill: #bfbfbf;
	stroke: #bfbfbf;
}


/* Line style */
.dash {
	stroke-dasharray: 10;
}


/* Markers */
.opacity05 .highcharts-markers * {
	opacity: 0.5
}

.highcharts-series-inactive {
    opacity: 1 !important;		/* handling the fact that inactive option isn't honoured in styled mode */
}


/* Axes */
.highcharts-yaxis .highcharts-axis-line {
	stroke-width: 1px
}


/* Gridlines */
.highcharts-yaxis-grid .highcharts-grid-line {
	stroke-width: 0px;
}


/* Tick marks */
.highcharts-yaxis .highcharts-tick {
	stroke-width: 5px
}


/* Legend */
.highcharts-legend-item > text {
	font-weight: normal;
}

.highcharts-legend-item.highcharts-bar-series > text {
	cursor: default;
}

.highcharts-legend-item.highcharts-scatter-series path.highcharts-graph {		/* For scatter plots, draw legend items as dots only, not dots with connecting lines */
	display: none
}


/* Tooltips */
.highcharts-tooltip {
	stroke: none;		/* Border color */
	line-height: 150%;
	font-size: 1em;
}

.highcharts-tooltip .highcharts-header {
	font-weight: bold;
	font-size: 1em;
}


/* Text */
.highcharts-container,
.highcharts-title,
.highcharts-subtitle,
.highcharts-credits,
.highcharts-credits:hover {
	fill: #404040;
	font-family: "Merriweather", sans-serif;
}

.highcharts-axis-labels,
.highcharts-axis-title,
.highcharts-legend-item > text {
	fill: #404040;
	font-family: "Raleway", sans-serif;
	font-size: 1em;
}

.highcharts-title,
.highcharts-subtitle {
	font-weight: 600;
}


/* Notes */
.highcharts-credits,
.highcharts-credits:hover {		/* Remove text zoom on hover */
    cursor: default;
    font-size: 0.75em;
}

.highcharts-credits .header {
	text-decoration: underline;
}
